
body {
    background-image: linear-gradient(#461959, #7A316F, #CD6688) !important;
}

a.menu {
    color: #fff !important;
}

a.menu2 {
    color: #ACFADF !important;
}

input:checked+span {
    color: #A0A0A0;
}

h1.heading {
    font-size: 30px;
    margin: 5px 6rem 5px;
}

input.head {
    border: none;
    width: 22rem;
    font-size: 1.125rem !important;
    /* padding: 3px 2rem 3px; */
}

.task {
    font-family: cursive;
}

.my-btn {
    width: 35px;
    height: 35px;
    color: #000 !important;
    background-color: #ACFADF !important;
    border-color: aquamarine !important;
}

.form-check-input:checked {
    background-color: #ACFADF !important;
    border-color: aquamarine !important;
}

.main {
    min-height: 527px;
}

p > a {
    text-decoration: none;
    color: #000;
}