input:checked + span{
    color: #A0A0A0;
}

.pad {
    box-shadow: 5px 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #F1F6F9;
    border-radius: 20px;
    min-width: 300px;
    width: 80%;
    max-width: 400px;
    min-height: 600px;
    border: 4px solid;
    overflow: hidden;
}

.heading {
    background-color: #394867;
    width: 100%;
    height: 4rem;
    text-align: center;
    border-bottom: 5px solid black;

}

.my-btn {
    color: white !important;
    background-color: #212A3E;
    border: 3px solid black;
    padding: 0px 15px;
    border-radius: 50px;
    font-size: 40px;
} 