input:checked+span {
    color: #A0A0A0;
}

.pad {
    box-shadow: 5px 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #F1F6F9;
    border-radius: 20px;
    min-width: 300px;
    width: 80%;
    max-width: 400px;
    min-height: 600px;
    border: 4px solid;
    overflow: hidden;
}

h1.heading {
    font-size: 30px;
    margin: 5px 6rem 5px;
}

input.head {
    border: none;
    width: 22rem;
    font-size: 1.125rem !important;
    /* padding: 3px 2rem 3px; */
}

.my-btn {
    width: 35px;
    height: 35px;
}

.main {
    min-height: 527px;
}